@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "RobotoMono";
  src: url("fonts/RobotoMono-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "RobotoMono";
  src: url("fonts/RobotoMono-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

#app {
  font-family: RobotoMono, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
